{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<div
  class="utility-bar color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} utility-bar--bottom-border{% endif %}"
  {{ block.shopify_attributes }}>
  {%- if section.blocks.size > 0 -%}
    <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
      <div class="announcement-bar-wp">
        {% for block in section.blocks %}
          {% if block.type == "announcement" %}
            {%- if block.settings.text != blank -%}
              {%- if block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
              {%- endif -%}
                <p class="announcement-bar__message">
                  <span>{{ block.settings.text | escape }}</span>
                  {%- if block.settings.link != blank -%}
                    {% render 'icon-arrow' %}
                  {%- endif -%}
                </p>
              {%- if block.settings.link != blank -%}
                </a>
              {%- endif -%}
            {%- endif -%} 
          {% endif %}
        {% endfor %}
        <div class="announcement-bar--right small-hide">
          {% for block in section.blocks %}
            {% if block.type == "phone" and block.settings.text != blank %}
            <a href="tel:{{ block.settings.text }}">{{ block.settings.text }}</a>
            {% endif %}
            {% if block.type == "page" and block.settings.text != blank %}
              <a {% if block.settings.link == blank %}role="link" aria-disabled="true"{% else %}href="{{ block.settings.link }}"{% endif %}>{{ block.settings.text }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "accent-1"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "phone",
      "name": "Phone",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "1300 952 950",
          "label": "Phone"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "link"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
