{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="color-{{ section.settings.color_scheme_banner }} gradient section-padding-top section__border-bottom">
    <div class="page-width{% unless section.settings.full_width %} page-width--narrow{% endunless %} section-{{ section.id }}-padding">
      {%- if section.settings.show_page_title -%}
        <h1 class="main-page-title page-title center hxl{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
          {{ page.title | escape }}
        </h1>
      {%- endif -%}

      {%- if section.blocks.size > 0 -%}
        <div class="">
          {%- for block in section.blocks -%}
            <div
              class="block-{{ block.id }}-padding"
              {{ block.shopify_attributes }}
            >
              {%- style -%}
                .block-{{ block.id }}-padding {
                  padding-top: {{ block.settings.padding_top }}px;
                  padding-bottom: {{ block.settings.padding_bottom }}px;
                  text-align: {{ block.settings.content_alignment }};
                }

                @media screen and (max-width: 749px) {
                  .block-{{ block.id }}-padding {
                    padding-top: {{ block.settings.padding_top_mobile }}px;
                    padding-bottom: {{ block.settings.padding_bottom_mobile }}px;
                    text-align: {{ block.settings.mobile_content_alignment }};
                  }
                }
              {%- endstyle -%}

              {%- case block.type -%}
                {%- when 'heading' -%}
                  <h2
                    class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {{ block.shopify_attributes }}
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {{ block.settings.heading }}
                  </h2>
                {%- when 'caption' -%}
                  <p
                    class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {{ block.shopify_attributes }}
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {{ block.settings.caption | escape }}
                  </p>
                {%- when 'text' -%}
                  <div
                    class="rich-text__text paragraph-{{ block.settings.text_size }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {{ block.shopify_attributes }}
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {{ block.settings.text }}
                  </div>
                {%- when 'button' -%}
                  <div
                    class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {{ block.shopify_attributes }}
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {%- if block.settings.button_label != blank -%}
                      <a
                        {% if block.settings.button_link == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.button_link }}"
                        {% endif %}
                        class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      >
                        {{- block.settings.button_label | escape -}}
                      </a>
                    {%- endif -%}
                    {%- if block.settings.button_label_2 != blank -%}
                      <a
                        {% if block.settings.button_link_2 == blank %}
                          role="link" aria-disabled="true"
                        {% else %}
                          href="{{ block.settings.button_link_2 }}"
                        {% endif %}
                        class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                      >
                        {{- block.settings.button_label_2 | escape -}}
                      </a>
                    {%- endif -%}
                  </div>
              {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page header",
  "tag": "section",
  "class": "section main_page_header_section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_page_title",
      "label": "Show page title",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_banner",
      "label": "Background banner",
      "default": "accent-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_mobile",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_mobile",
      "default": 24
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h3",
              "label": "t:sections.all.heading_size.options__5.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.rich-text.settings.content_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 16
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.rich-text.settings.content_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 16
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "extra-small",
              "label": "Extra Small"
            },
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "regular",
              "label": "Regular"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "regular",
          "label": "Text size"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.rich-text.settings.content_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 16
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.rich-text.settings.content_alignment.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top_mobile",
          "default": 16
        },
        {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 100,
          "step": 2,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom_mobile",
          "default": 16
        }
      ]
    }
  ]
}
{% endschema %}
